@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}
.html, body {
    font-family: Roboto;
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sheet {
    /*width: 210mm;*/
    width: 270mm;
    /*min-height: 297mm;*/
    margin: 10mm auto;
    border: 1px white solid;
    border-radius: 2px;
    background: white;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
}
.page {
    position: relative;
    margin: 10mm;
    height: 265mm;
}
.page-title {}
.page-content{}
.personal-data-panel{
    width: 40%;
}
.personal-experience-panel{
    width: 60%;
}
.left{
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    /*width: 40%;*/
}
.right{
    float: right;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    /*width: 60%;*/
}
.card{
    height: fit-content;
    padding: 5%;
    margin: 2% auto;
    border: 1px white solid;
    border-radius: 3px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-top: 5%;
    margin-bottom: 2%;
}

.card p {
    margin: 0;
    font-size: 85%;
}

.card-title {
    font-size: 150%;
    font-weight: 300;
}
.card-section-title {
    color: #75757c;
    line-height: 110%;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 92%;
}
.card-icon{
    /*float: left;*/
    width: 8%;
}
.card-icon-placeholder {
    width: 8%;
}
.card-icon .large {
    padding-top: 12%;
    font-size: 180%;
}

.card-content{
    /*float: right;*/
    width: 92%;
}

.work-name {
    font-size: 120%;
    font-weight: 400;
    margin-top: 2%;
    /*margin-bottom: 2%;*/
}

.work-period {
    font-size: 110%;
    color: #64646b;
    /*margin-top: 2%;*/
    margin-bottom: 2%;

}

.work-description {
    font-size: 85%;
}

.gray {
    color: #75757c;
}

.name {
    font-size: 210%;
    font-weight: 500;
    color: gray;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 3%;
}

.card-content{
    text-align: justify;
}

.left-panel .card-content p{
    font-size: small;
}

.row {
    display: flex;
    flex-direction: row;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    .sheet {
        page-break-after: auto; /* always */
        margin: 0;
        width: initial;
        min-height: initial;
        border: 1px #ffffff solid;
        box-shadow: initial;
    }

    .card{
        /*height: initial;*/
        padding: 3%;
        margin-top: initial;
        margin-left: 3%;
        margin-right: 3%;
        border: 2px #dfdfdf dashed;
        /*border-radius: initial;*/
        background: white;
        box-shadow: initial;
        /*overflow: initial;*/
    }
    .card-icon .large {
        font-size: 130%;
    }
    .personal-data-panel {
        padding: 0;
    }
    .personal-experience-panel{
        padding: 0;
    }

    .print-exception-top {
        margin-top: 5%;
    }

    .page-break {
        page-break-after: always;
    }

    .page-margin {
        margin-top: 12%;
    }

    .print-exception-bottom {
        margin-bottom: 16%;
    }

    /*.divider {*/
        /*height: 1px;*/
        /*overflow: hidden;*/
        /*border-top: dashed;*/
        /*border-width: 2px;*/
        /*border-color: lightgray;*/
        /*margin-top: 5%;*/
        /*margin-bottom: 2%;*/
        /*background: initial;*/
    /*}*/
}
